In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Import Datasets

In [2]:
df = pd.read_csv("gabungan_file.csv")
df.drop(columns="Unnamed: 0", inplace=True)

### Fungsi Klasifikasi by text

In [3]:
def Klasifikasi(mode):
    if mode == "A":
        filt = (df["text"].str.contains("WNI")) | (df["text"].str.contains("Dokumen")) | (df["text"].str.contains("#NegaraMelindungi")) | (df["text"].str.contains("#Covid19"))
    elif mode == "B":
        filt = (df["text"].str.contains("Hubungan Diplomatik")) | (df["text"].str.contains("Hubungan Bilateral")) | (df["text"].str.contains("Kerja sama")) | (df["text"].str.contains("#IniDiplomasi")) | (df["text"].str.contains("#SahabatKemlu")) | (df["text"].str.contains("#MenluRetno")) | (df["text"].str.contains("#FMMarsudi")) | (df["text"].str.contains("#RintisKemajuan")) | (df["text"].str.contains("#BatikDiplomacy")) | (df["text"].str.contains("#IndonesianWay")) | (df["text"].str.contains("#DigitalDiplomacy")) | (df["text"].str.contains("#DiplomasiKuliner"))
    elif mode == "C":
        filt = (df["text"].str.contains("UN / United Nation")) | (df["text"].str.contains("ASEAN")) | (df["text"].str.contains("Kerjasama Multilateral")) | (df["text"].str.contains("Rohingya")) | (df["text"].str.contains("Palestina")) | (df["text"].str.contains("Suriah")) | (df["text"].str.contains("Irak")) | (df["text"].str.contains("ISIS")) | (df["text"].str.contains("#IndonesiaUntukDunia")) | (df["text"].str.contains("#CounterTerrorism")) | (df["text"].str.contains("#DiplomacyforPeaceandProsperity"))
    elif mode == "D":
        filt = (df["text"].str.contains("Papua")) | (df["text"].str.contains("Sawit")) | (df["text"].str.contains("Perbatasan")) | (df["text"].str.contains("Demokrasi Indonesia")) | (df["text"].str.contains("#BaliDemocracyForum"))
        
    return df.loc[filt]

# Hasil Klasifikasi
### Klasifikasi: A

In [4]:
print("Retweet:", Klasifikasi("A")["retweet_count"].sum(),", Like:", Klasifikasi("A")["favorite_count"].sum())
Klasifikasi("A").sort_values(by="retweet_count", ascending=False)

Retweet: 292027 , Like: 24769

,user_id,screen_name,created_at,source,location,text,is_retweet,is_quote,favorite_count,reply_count,retweet_count,quote_count,retweet_screen_name,retweet_created_at,quoted_screen_name,quoted_created_at,lang
23477,3314637968,KBRI_Beijing,2019-03-16 01:32:30,Twitter for iPhone,Beijing,Duka cita yang dalam atas jatuhnya korban pene...,True,False,0,NaN,9377,NaN,jokowi,2019-03-15 10:31:41,NaN,NaN,in
46909,986058483618414592,INAinPyongyang,2019-03-15 11:32:20,Twitter Web Client,Democratic People's Republic o,Duka cita yang dalam atas jatuhnya korban pene...,True,False,0,NaN,9377,NaN,jokowi,2019-03-15 10:31:41,NaN,NaN,in
15643,2884398214,KBRI_Ottawa,2019-03-15 18:35:44,Twitter for iPhone,"Ottawa, ON",Duka cita yang dalam atas jatuhnya korban pene...,True,False,0,NaN,9377,NaN,jokowi,2019-03-15 10:31:41,NaN,NaN,in
12891,2148602575,kbrimoskow,2019-03-15 11:51:31,Twitter for Android,Moscow,Duka cita yang dalam atas jatuhnya korban pene...,True,False,0,NaN,9377,NaN,jokowi,2019-03-15 10:31:41,NaN,NaN,in
54622,65746978,kbridenhaag,2019-03-15 23:57:01,Twitter for Android,"The Hague, The Netherlands",Duka cita yang dalam atas jatuhnya korban pene...,True,False,0,NaN,9377,NaN,jokowi,2019-03-15 10:31:41,NaN,NaN,in
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30604,1343799062,KBRI_Paris,2018-12-22 08:16:38,Twitter for iPhone,"Paris, France",Info-Himbauan: Sabtu ini (22/12) berlangsung l...,False,False,1,NaN,1,NaN,NaN,NaN,NaN,NaN,in
30588,1343799062,KBRI_Paris,2019-02-25 14:42:35,Twitter for iPhone,"Paris, France","Untuk WNI di Lyon dan sekitarnya, jangan lupa ...",False,False,3,NaN,1,NaN,NaN,NaN,NaN,NaN,in
30582,1343799062,KBRI_Paris,2019-05-15 20:32:40,Twitter for iPhone,"Paris, France",4/4 Wapres JK jg berdialog di KBRI. Kpd Wapres...,False,False,5,NaN,1,NaN,NaN,NaN,NaN,NaN,in
30569,1343799062,KBRI_Paris,2019-07-23 06:58:19,Twitter for iPhone,"Paris, France",Himbauan: sehubungan adanya gelombang panas mg...,False,True,3,NaN,1,NaN,NaN,NaN,FRANCE24,2019-07-22 12:31:08,in
29244,3425373425,INAinBucharest,2020-06-10 14:44:15,Twitter for Android,"Bucuresti, România",Loket Pelayanan KBRI Bucharest tetap buka untu...,False,False,3,NaN,1,NaN,NaN,NaN,NaN,NaN,in

### Klasifikasi: B

In [5]:
print("Retweet:", Klasifikasi("B")["retweet_count"].sum(),", Like:", Klasifikasi("B")["favorite_count"].sum())
Klasifikasi("B").sort_values(by="retweet_count", ascending=False)

Retweet: 461111 , Like: 24575

,user_id,screen_name,created_at,source,location,text,is_retweet,is_quote,favorite_count,reply_count,retweet_count,quote_count,retweet_screen_name,retweet_created_at,quoted_screen_name,quoted_created_at,lang
55732,3089399980,IndonesiainCOL,2019-05-01 14:05:04,Twitter for Android,"Calle 70 No. 8-19, Bogota D.C.",#SahabatKemlu hari ini Indonesia resmi menjadi...,True,False,0,NaN,1500,NaN,Kemlu_RI,2019-05-01 06:17:32,NaN,NaN,in
25480,3423888039,KBRI_Beograd,2019-05-02 20:15:44,Twitter for Android,"Belgrade, Republic of Serbia",#SahabatKemlu hari ini Indonesia resmi menjadi...,True,False,0,NaN,1500,NaN,Kemlu_RI,2019-05-01 06:17:32,NaN,NaN,in
57901,2964714444,kbrisingapura,2019-05-01 12:26:00,Twitter Web App,"7 Chatsworth Rd, Singapore",#SahabatKemlu hari ini Indonesia resmi menjadi...,True,False,0,NaN,1500,NaN,Kemlu_RI,2019-05-01 06:17:32,NaN,NaN,in
54414,65746978,kbridenhaag,2019-05-01 10:15:29,Twitter for Android,"The Hague, The Netherlands",#SahabatKemlu hari ini Indonesia resmi menjadi...,True,False,0,NaN,1500,NaN,Kemlu_RI,2019-05-01 06:17:32,NaN,NaN,in
28921,2965883931,indonesia_sk,2019-05-08 22:43:22,Echofon,Slovak Republic,#SahabatKemlu hari ini Indonesia resmi menjadi...,True,False,0,NaN,1500,NaN,Kemlu_RI,2019-05-01 06:17:32,NaN,NaN,in
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41753,137358476,KBRILondon,2020-05-11 12:16:00,TweetDeck,"30 Great Peter Street, London",Agar ibadah di bulan #Ramadhan lancar namun te...,False,False,3,NaN,1,NaN,NaN,NaN,NaN,NaN,in
15269,2884398214,KBRI_Ottawa,2020-05-02 23:30:23,Twitter for Android,"Ottawa, ON",Dubes @akjailani akan memberikan sambutan untu...,False,False,3,NaN,1,NaN,NaN,NaN,NaN,NaN,in
41752,137358476,KBRILondon,2020-05-11 12:36:00,TweetDeck,"30 Great Peter Street, London",Apa resiko pelanggaran kebijakan pembatasan sa...,False,False,1,NaN,1,NaN,NaN,NaN,NaN,NaN,in
41749,137358476,KBRILondon,2020-05-13 09:09:00,TweetDeck,"30 Great Peter Street, London",HARI INI! Pengajian virtual masyarakat muslim ...,False,False,0,NaN,1,NaN,NaN,NaN,NaN,NaN,in
22437,3422328899,IndonesiaInCPH,2019-03-01 10:51:34,Twitter for iPhone,Ørehøj Alle 1 2900 Hellerup,Ambassador M. Ibnu Said met Ambassador Michael...,False,False,4,NaN,1,NaN,NaN,NaN,NaN,NaN,en

### Klasifikasi: C

In [6]:
print("Retweet:", Klasifikasi("C")["retweet_count"].sum(),", Like:", Klasifikasi("C")["favorite_count"].sum())
Klasifikasi("C").sort_values(by="retweet_count", ascending=False)

Retweet: 591558 , Like: 3849

,user_id,screen_name,created_at,source,location,text,is_retweet,is_quote,favorite_count,reply_count,retweet_count,quote_count,retweet_screen_name,retweet_created_at,quoted_screen_name,quoted_created_at,lang
41394,3044642225,IndonesiainBern,2017-12-07 19:18:50,Twitter for iPhone,"Bern, Switzerland",Indonesia mengecam keras pengakuan sepihak Ame...,True,False,0,NaN,34242,NaN,jokowi,2017-12-07 05:06:48,NaN,NaN,in
56543,3089399980,IndonesiainCOL,2017-12-07 11:54:23,Twitter for iPhone,"Calle 70 No. 8-19, Bogota D.C.",Indonesia mengecam keras pengakuan sepihak Ame...,True,False,0,NaN,34242,NaN,jokowi,2017-12-07 05:06:48,NaN,NaN,in
47605,825008089975775232,KBRISarajevo,2017-12-07 14:33:59,Twitter Web Client,Bosnia and Herzegovina,Indonesia mengecam keras pengakuan sepihak Ame...,True,False,0,NaN,34242,NaN,jokowi,2017-12-07 05:06:48,NaN,NaN,in
8867,156088037,kbrikualalumpur,2017-12-08 03:06:05,Twitter for iPhone,"233, Jl. Tun Razak, 50400 KL",Indonesia mengecam keras pengakuan sepihak Ame...,True,False,0,NaN,34242,NaN,jokowi,2017-12-07 05:06:48,NaN,NaN,in
21923,115076721,kbribxl,2017-12-07 08:14:18,Twitter for Android,"Brussels, Belgium",Indonesia mengecam keras pengakuan sepihak Ame...,True,False,0,NaN,34242,NaN,jokowi,2017-12-07 05:06:48,NaN,NaN,in
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21349,115076721,kbribxl,2019-11-04 14:46:54,LaterMedia,"Brussels, Belgium","""Bhinneka Tunggal Ika: Harmony of Indonesia in...",False,False,2,NaN,1,NaN,NaN,NaN,NaN,NaN,en
21328,115076721,kbribxl,2019-11-26 08:48:15,Twitter for Android,"Brussels, Belgium",RBI CINEMA <U+0001F1EE><U+0001F1E9><U+FE0F><U+...,False,False,1,NaN,1,NaN,NaN,NaN,NaN,NaN,en
20954,395319702,KBRIWashDC,2019-02-14 17:28:00,Twitter Web Client,"Washington, DC",.@USASEANBusiness hosted a farewell luncheon f...,False,False,6,NaN,1,NaN,NaN,NaN,NaN,NaN,en
20840,395319702,KBRIWashDC,2019-03-31 00:29:17,Twitter for Android,"Washington, DC","On 29 March 2019, the Director General of ASEA...",False,False,1,NaN,1,NaN,NaN,NaN,NaN,NaN,en
59789,2964714444,kbrisingapura,2016-02-17 02:28:59,Twitter Web Client,"7 Chatsworth Rd, Singapore",https://t.co/NXi7nLvi2t Photo: US-ASEAN Summit...,False,False,0,NaN,1,NaN,NaN,NaN,NaN,NaN,en

### Klasifikasi: D

In [7]:
print("Retweet:", Klasifikasi("D")["retweet_count"].sum(),", Like:", Klasifikasi("D")["favorite_count"].sum())
Klasifikasi("D").sort_values(by="retweet_count", ascending=False)

Retweet: 83621 , Like: 926

,user_id,screen_name,created_at,source,location,text,is_retweet,is_quote,favorite_count,reply_count,retweet_count,quote_count,retweet_screen_name,retweet_created_at,quoted_screen_name,quoted_created_at,lang
6438,475056285,KBRI_NewDelhi,2018-07-13 12:02:47,Twitter for Android,Chanakyapuri New Delhi,"50 tahun Freeport mengelola tambang di Papua, ...",True,False,0,NaN,9673,NaN,jokowi,2018-07-13 01:21:13,NaN,NaN,in
54039,65746978,kbridenhaag,2019-10-29 08:29:47,Twitter for Android,"The Hague, The Netherlands","Ikon baru Papua, Jembatan Youtefa, yang saya r...",True,False,0,NaN,4661,NaN,jokowi,2019-10-29 03:11:17,NaN,NaN,in
37627,718134061731090432,KBRI_Brasilia,2018-04-12 12:21:54,Twitter Web Client,"Brasília, Brazil","Keadilan sosial adalah sebuah panggilan, adala...",True,False,0,NaN,3955,NaN,jokowi,2018-04-12 12:03:39,NaN,NaN,in
6689,475056285,KBRI_NewDelhi,2018-04-12 13:12:15,Twitter Web Client,Chanakyapuri New Delhi,"Keadilan sosial adalah sebuah panggilan, adala...",True,False,0,NaN,3955,NaN,jokowi,2018-04-12 12:03:39,NaN,NaN,in
22679,3422328899,IndonesiaInCPH,2018-04-14 06:36:52,Twitter for iPhone,Ørehøj Alle 1 2900 Hellerup,Sengaja saya datang ke Papua sampai delapan ka...,True,False,0,NaN,2723,NaN,jokowi,2018-04-11 15:27:12,NaN,NaN,in
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53866,65746978,kbridenhaag,2020-02-20 10:56:50,Twitter Web App,"The Hague, The Netherlands","Mau Berkunjung ke Indonesia, Raja Belanda Bawa...",True,False,0,NaN,1,NaN,bisnisindgroup,2020-02-19 13:13:33,NaN,NaN,in
17268,903100073256652800,KBRI_Islamabad,2019-08-03 03:31:57,Twitter for Android,"Islamabad, Pakistan","2. Kuningan, Jakarta Selatan, 1-2 Agustus 2019...",False,False,1,NaN,1,NaN,NaN,NaN,NaN,NaN,in
45353,2421431437,IndonesiaDhaka,2016-10-20 07:48:26,Twitter Web Client,"Dhaka, Bangladesh",Sejak RI Merdeka Akhirnya Harga BBM di Papua=J...,False,False,0,NaN,1,NaN,NaN,NaN,NaN,NaN,in
595,3314172242,IndonesiaHanoi,2019-09-09 04:46:34,Twitter for Android,50 Ngo Quyen St,"Pada Sabtu (07/09), sekitar 50 #WargaNegaraInd...",False,False,2,NaN,1,NaN,NaN,NaN,NaN,NaN,in
582,3314172242,IndonesiaHanoi,2019-09-17 03:57:50,Twitter for Android,50 Ngo Quyen St,"Pd Minggu (15/09), telah dlaksanakan Kegiatan ...",False,False,1,NaN,1,NaN,NaN,NaN,NaN,NaN,in

# Simpulan Hasil

In [8]:
hasil_clf = {
    "A": Klasifikasi("A").shape[0],
    "B": Klasifikasi("B").shape[0],
    "C": Klasifikasi("C").shape[0],
    "D": Klasifikasi("D").shape[0]
}

In [9]:
list_hasil = [Klasifikasi("A").shape[0], Klasifikasi("B").shape[0], Klasifikasi("C").shape[0], Klasifikasi("D").shape[0]]

In [10]:
list_hasil

[4714, 12877, 4783, 815]